body {
  margin: 0;
  padding: 0;
}

/* .item {
  height: 500px;
}

.item img{
  height: 500px;
} */
.page-footer {

  background: #0985cc;
}

.footer-copyright {

background: #0693e3;
}

footer.page-footer a{
  color: black;
}

.jumbo-image {
  width: 50%;
}